.swiper {
  width: 375px;
  height: 600px;
}

.swiper-container {
  display: flex;
  position: relative;
  gap: 33px;
  width: 100%;
  height: 85px;
  overflow-x: scroll;
}

.swiper-item {
  display: flex;
  flex-direction: column;
  width: 35px;
}

img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.next-icon {
  position: absolute;
  left: 350px;
}
