.swiper {
  width: 375px;
  height: 600px;
}

.swiper-container {
  display: flex;
  width: 100%;
  height: 85px;
  margin-left: -32px;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  gap: 33px;
  width: 100%;
  height: 85px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-scrollbar: no-button;

  /* margin-left: 32px; */
}

.swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-item {
  display: flex;
  flex-direction: column;
  width: 35px;
}

img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.next-icon {
  display: flex;
  position: absolute;

  left: 350px;
}

.prev-icon {
  display: flex;
  position: absolute;
  /* left: 10px; */
  left: 32px;
  z-index: 999;
}
